extends shared/_template

block variables
  - var title = 'Блог'

block content
  .wrapper#blog
    header.header
      nav.header__nav
        ul.socials
          each social in socials
            li.socials__item
              a(href=social.link class=`socials__link socials__link_${social.icon}` target="_blank" title=social.name)= social.name
        ul.nav-menu
          svg.nav-menu__icon
            use(xlink:href="assets/images/sprite.svg#hamburger")
          // each link in nav
            // li.nav-menu__item
              // a(href=link.url)= link.name
      section.hero
        img(src="assets/api/user-data/images/dm-avatar.jpg")
        h1 #{title}
        .description Статьи, которые я написал
      section.triangles
        .triangles__item.triangles__item-left
          svg(viewbox="0 0 1000 110" preserveAspectRatio="none").triangles__triangle
            polygon(points="0,0 0,110 1000, 110")
        .triangles__item.triangles__item-right
          svg(viewbox="0 0 1000 110" preserveAspectRatio="none").triangles__triangle
            polygon(points="0,110 1000,110 1000,0")
    .content
      aside
        ul.side-nav
          each article, index in articles
            li.side-nav__item
              if index == 0
                a(href=`#${article.hash}` class="active")=article.name
              else
                a(href=`#${article.hash}`)=article.name
      main
        each article in articles
          article(id=article.hash)
            h2=article.name
            .date=article.date
            .text!=article.content
    include shared/_footer
